canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  overflow-y: scroll;
}

.rotate {
  transform: rotate(-90deg);
}

.hidden {
  display: none;
}
.shown {
  display: block;
}

.general p{
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.general h1 {
  font-size: 2.5em;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px 0;
  color: #EFEFEF;
}

.general {
  color: #DEDEDE;
}


main {
  z-index: 100;
  display: block;
  position: absolute;
  width: 97%;
  margin: 0px 10px 0 10px;
}

#header {
  height: 8000px;
}

.text1 {
  background-color: rgba(53, 53, 53, 0.7);
  padding: 5px 25px;
  width: 66%;
}



.text2 {
  background-color: rgba(53, 53, 53, 0.7);
  padding: 5px 25px;
  margin-left: 4%;
  width: 86%;
}

.text3 {
  background-color: rgba(53, 53, 53, 0.7);
  padding: 5px 25px;
  margin-left: 45%;
  width: 50%;
}

.text4 {
  background-color: rgba(53, 53, 53, 0.7);
  padding: 5px 25px;
  margin-left: 4%;
  width: 50%;
}