canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  overflow-y: scroll;
}

.rotate {
  transform: rotate(-90deg);
}

.hidden {
  display: none;
}
.shown {
  display: block;
}

main {
  z-index: 100;
  margin: 0px auto;
  display: block;
  position: absolute;
}

#header {
  color: #444444;
  height: 3000px;
}
